header {
    font-size: 2rem;
}

.home-title {
    margin-top: 20px;
    text-align: center;
}

.home-img-wrap {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.home-img {
    width: 40%;
}